/**
 * Bootstrap扩展
 */
.panel-product {
    border: 0;
    border-radius: 0;
    box-shadow: 1px 1px 5px #ccc;
    margin-bottom: 25px;
    background-color: #fff;
}
.panel-product.active {
    background-color: #e92322;
    color: #fff;
}
.panel-product.active::before {
     content: "\e915";
     position: absolute;
     font-family: itcast;
     color: #fff;
     font-size: 33px;
     top: -7px;
     left: 15px;
}
.panel-product > .panel-heading {
    float: right;
    width: 120px;
    padding: 45px 0 0 0;
    height: 150px;
    border-left: 1px dashed #c0c0c0;
    text-align: center;
    position: relative;
}
.panel-product .panel-heading .tooltips{
    position: absolute;
    top: 15px;
    width: 100%;
}
.panel-product.active .panel-heading .tooltips{
    display: none;
}
.panel-product .panel-heading  span {
    font-size: 10px;
}
.panel-product .panel-heading .tooltips span {
    cursor: pointer;
    float: left;
    width: 20px;
    height: 20px;
    border: 1px solid;
    padding: 2px;
    box-sizing: border-box;
}
.panel-product .panel-heading .tooltips span.primary {
    border-color: #e9232c;
    color: #e9232c;
    position: absolute;
    left: 50%;
    margin-left: -25px;
}
.panel-product .panel-heading .tooltips span.secondary {
    border-color: #399;
    color: #399;
    position: absolute;
    left: 50%;
    margin-left: 5px;
}
.panel-product > .panel-heading::before,
.panel-product > .panel-heading::after {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #f0f0f0;
    position: absolute;
}
.panel-product > .panel-heading::before {
    top: -8px;
    left: -8px;
}
.panel-product > .panel-heading::after {
    bottom: -8px;
    left: -8px;
}
.panel-product.active .panel-heading strong, .panel-product.active .panel-heading sub {
    color: #fff;
}
 .panel-product .panel-heading sub{
     color: #e9232c;
 }
  .panel-product .panel-heading strong {
    color: #e9232c;
    font-size: 36px;
}
.panel-product > .panel-body {
    margin-right: 120px;
    height: 150px;
}
.panel-product .panel-body h5 {
    font-size: 16px;
    margin-top: 0;
}
.panel-product .panel-body dt {
    font-size: 10px;
    color: #c0c0c0;
}
.panel-product .panel-body dd {
    font-size: 16px;
    margin-bottom: 5px;
}
.panel-product.state-1::after {
    content: "\e925";
}
.panel-product.state-2::after {
    content: "\e926";
}
.panel-product.state-3::after {
    content: "\e927";
}
.panel-product.state-4::after {
    content: "\e928";
}
.panel-product.state-1, .panel-product.state-2, .panel-product.state-3, .panel-product.state-4 {
    background-color: #e0e0e0;
}
.panel-product.state-1::after, .panel-product.state-2::after, .panel-product.state-3::after, .panel-product.state-4::after {
    font-family: itcast;
    font-size: 100px;
    color: #e9232c;
    position: absolute;
    top: 10px;
    right: 130px;
}
.btn-itcast {
    color: #ffffff;
    background-color: #E92322;
    border-color: #DB3B43;
}

.btn-itcast:hover,
.btn-itcast:focus,
.btn-itcast:active,
.btn-itcast.active,
.open .dropdown-toggle.btn-itcast {
    color: #ffffff;
    background-color: #E92322;
    border-color: #DB3B43;
}

.btn-itcast:active,
.btn-itcast.active,
.open .dropdown-toggle.btn-itcast {
    background-image: none;
}

.btn-itcast.disabled,
.btn-itcast[disabled],
fieldset[disabled] .btn-itcast,
.btn-itcast.disabled:hover,
.btn-itcast[disabled]:hover,
fieldset[disabled] .btn-itcast:hover,
.btn-itcast.disabled:focus,
.btn-itcast[disabled]:focus,
fieldset[disabled] .btn-itcast:focus,
.btn-itcast.disabled:active,
.btn-itcast[disabled]:active,
fieldset[disabled] .btn-itcast:active,
.btn-itcast.disabled.active,
.btn-itcast[disabled].active,
fieldset[disabled] .btn-itcast.active {
    background-color: #E92322;
    border-color: #DB3B43;
}

.btn-itcast .badge {
    color: #E92322;
    background-color: #ffffff;
}

.navbar-itcast {
    background-color: #fff;
    border-color: #f5f5f5;
    margin-bottom: 0;
}

.navbar-itcast .navbar-brand {
    color: #777;
    height: 80px;
}

.navbar-itcast .navbar-brand:hover,
.navbar-itcast .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}

.navbar-itcast .navbar-text {
    color: #777;
}

.navbar-itcast .navbar-nav > li > a {
    color: #777;
    line-height: 48px;
    font-size: 14px;
}

.navbar-itcast .navbar-nav > li > a:hover,
.navbar-itcast .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
    border-bottom: 2px solid #e92322;
}

.navbar-itcast .navbar-nav > .active > a,
.navbar-itcast .navbar-nav > .active > a:hover,
.navbar-itcast .navbar-nav > .active > a:focus {
    color: #555;
    background-color: transparent;
    border-bottom: 2px solid #E92322;
}

.navbar-itcast .navbar-nav > .disabled > a,
.navbar-itcast .navbar-nav > .disabled > a:hover,
.navbar-itcast .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}

.navbar-itcast .navbar-toggle {
    border-color: #ddd;
    margin-top: 23px;
    margin-bottom: 23px;
}

.navbar-itcast .navbar-toggle:hover,
.navbar-itcast .navbar-toggle:focus {
    background-color: #ddd;
}

.navbar-itcast .navbar-toggle .icon-bar {
    background-color: #888;
}

.navbar-itcast .navbar-collapse,
.navbar-itcast .navbar-form {
    border-color: #e7e7e7;
}

.navbar-itcast .navbar-nav > .open > a,
.navbar-itcast .navbar-nav > .open > a:hover,
.navbar-itcast .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}

@media (max-width: 767px) {
    .navbar-itcast .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }

    .navbar-itcast .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-itcast .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }

    .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }

    .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-itcast .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}

.navbar-itcast .navbar-link {
    color: #777;
}

.navbar-itcast .navbar-link:hover {
    color: #333;
}

.navbar-itcast .btn-link {
    color: #777;
}

.navbar-itcast .btn-link:hover,
.navbar-itcast .btn-link:focus {
    color: #333;
}

.navbar-itcast .btn-link[disabled]:hover,
fieldset[disabled] .navbar-itcast .btn-link:hover,
.navbar-itcast .btn-link[disabled]:focus,
fieldset[disabled] .navbar-itcast .btn-link:focus {
    color: #ccc;
}

/*公共样式*/
body {
    font-family: "Helvetica Neue",
    Helvetica, Microsoft Yahei,
    Hiragino Sans GB,
    WenQuanYi Micro Hei,
    sans-serif;
}

@font-face {
    font-family: "itcast";
    src: url(../font/MiFie-Web-Font.eot) format('embedded-opentype'),
    url(../font/MiFie-Web-Font.svg) format('svg'),
    url(../font/MiFie-Web-Font.ttf) format('truetype'),
    url(../font/MiFie-Web-Font.woff) format('woff');
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: itcast;
    font-style: normal;
}

.icon-mobilephone::before {
    content: "\e908";
    font-size: 13px;
}

.icon-telephone::before {
    content: "\e909";
    font-size: 15px;
}

.icon-logo::before {
    content: "\e93e";
}

.icon-icon::before {
    content: "\e920";
}

.icon-uniE907:before {
    content: "\e907";
}

.icon-uniE903:before {
    content: "\e903";
}

.icon-uniE901:before {
    content: "\e901";
}

.icon-uniE900:before {
    content: "\e900";
}

.icon-uniE904:before {
    content: "\e904";
}

.icon-uniE902:before {
    content: "\e902";
}

.icon-uniE906:before {
    content: "\e906";
}

.icon-uniE905:before {
    content: "\e905";
}

/*头部区域*/
#header {
    /*height: 200px;*/
}

#header > .topbar {
    height: 40px;
    border-bottom: 1px solid #c0c0c0;
    line-height: 40px;
}

#header > .topbar > .container > .row > div {
    height: 40px;
    font-size: 12px;
    color: #888;
}

#header > .topbar > .container > .row > div + div {
    border-left: 1px solid #c0c0c0;
}

#header a {
    color: #888;
    text-decoration: none;
}

#header a.btn-itcast {
    color: white;
}

#header .mobile_link {
    display: block;
    height: 40px;
    position: relative;
}

#header .mobile_link > img {
    display: none;
    position: absolute;
    left: 50%;
    top: 30px;
    margin-left: -60px;
    z-index: 99999999;
}

#header .mobile_link:hover > img {
    display: block;
}

#header .icon-icon {
    font-size: 50px;
    color: #E92322;
    line-height: 50px;
    vertical-align: middle;
}

#header .icon-logo {
    font-size: 32px;
    color: #333;
    line-height: 50px;
    vertical-align: middle;
}

/*头部区域*/

/*轮播图*/
#main_ad {

}

#main_ad > .carousel-inner > .item {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#main_ad > .carousel-inner > .item > img {
    width: 100%;
}

@media (min-width: 768px) {
    #main_ad > .carousel-inner > .item {
        height: 410px;
    }
}

/*轮播图*/
/*网站特色*/
#features {
    padding: 50px 0;
    border-bottom: 1px solid #c0c0c0;
}

#features i {
    font-size: 34px;
}

#features a {
    text-decoration: none;
    color: #333;
}

#features a:hover {
    color: #E9232C;
}

#features > .container > .row > div {
    margin-bottom: 20px;
    margin-top: 20px;
}

/*网站特色*/
/*立即预约*/
#booking {
    padding: 20px 0;
    border-bottom: 1px solid #c0c0c0;
}

#booking > .container > p {
    font-size: 16px;
    margin-bottom: 0;
}

#booking > .container > .pull-left > span {
    color: #e92322;
}

#booking > .container > .pull-left > a {
    color: #e92322;
    text-decoration: none;
    border-bottom: 1px dashed #e92322;
}

#booking > .container > .pull-right > a {
    color: #333;
    text-decoration: none;
}

#booking > .container > .pull-right > a:hover {
    color: #e92322;
}

/*立即预约*/
/*产品推荐*/
#products {
    background-color: #f0f0f0;
    padding: 40px 0;
}

#products .nav-tabs {
    border-bottom: 1px solid #c0c0c0;
    padding-left: 20px;
}

#products > .container > .nav-tabs > li > a {
    color: #444;
    font-size: 16px;
}

#products > .container > .nav-tabs > li > a:hover,
#products > .container > .nav-tabs > li > a:focus {
    background-color: transparent;
    border-color: transparent;
    color: #000;
}

#products > .container > .nav-tabs > li.active > a {
    background-color: transparent;
    border: 0;
    border-bottom: 4px solid #e92322;
}

#products > .container > .tab-content {
    padding: 20px 0;
}

/*产品推荐*/